k {
font-color:red;
  background-color:white;
font-style:sansserif;
  margins:25px50px;
}
c  {
   background-color:black;
        font-color:silver;
        font-style:helvetica;
        font-size: 18px;
  }
